extends ../layouts/default.pug

block variables
  - const title = "Главная"
  - const name = "main-page"

block content
  main
    .container
      br
      h1 Стартовый шаблон
      .grid
        .grid__item
          .img
            img.logo1(src=require('../../images/5.jpg') alt='Изображений')
          a(href="/article.html") Линк на article
          hr
          include ../parts/button.pug
        .grid__item
          |	Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Снова, последний родного решила но ему безорфографичный текстами знаках продолжил заголовок бросил от всех вдали 	пустился выйти страна своего путь обеспечивает.Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Снова, последний родного решила но ему безорфографичный текстами знаках продолжил заголовок бросил от всех вдали пустился выйти страна своего путь обеспечивает.
      #root
